  {# templates/bundles/EasyAdminBundle/layout.html.twig #}
{% extends '@!EasyAdmin/layout.html.twig' %}

{% block content_title 'Welcome to Link Tracker by <a href="https://elivate.net">Elivate</a>' %}

{% block main %}
    <style>
        p { max-width: 600px; }
    </style>

    <p>
        <strong>An SEO Database Warehouse in the making!</strong>
    </p>

    <p>
        So far we only have a Client table, but as we add more to this, the app will be more usefull. 
    </p>

{% endblock %}
